/*CSS reset*/
html,body{width:100%;height:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
ul>li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}


/*文字排版*/
.fb{font-weight:bold}
.fn{font-weight:normal;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}/*全称是“。blockCenter”，作用为使块级元素居中。直接试用她是不能使块级元素居中的，还需设定宽度。*/
.fl{float:left;display:inline;}/*设置display：inline 为了解决IE6的双外边距bug。在IE6下，如果对元素设置了浮动，同时设置了margin-left或者margin-right，margin值会加倍，如设置margin-left：10px在IE6下会显示为margin-left：20px。解决办法就是设置display：inline。*/
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}/*用于在父容器直接清除子元素浮动。*/
*html .clearfix{height:1%;}/*只在IE6中生效*/
.Clearfix{display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute;right:0;}
.zoom{zoom:1;}/*(IE特有属性)触发hasLayout*/
.hidden{visibility:hidden;}
.none{display:none;}


.w{width:100%;}
.wmax{max-width:100%;}
.whalf{width:50%;}
.h{height:100%;}
.hhalf{height:50%;}
.wh{width:100%;height:100%;}

/*边距*/
$s-1:4px;
$s-2:8px;
.mr-1{margin-right:$s-1};
.mr-2{margin-right:$s-2};
.ml-1{margin-left:$s-1};
.ml-2{margin-left:$s-2};

.no_p{padding:0 !important;}
.no_m{margin:0 !important;}

/*vue*/
[v-cloak] {
  display: none;/*防止还没有数据时出现代码括号*/
}

/*常用*/
.oh{overflow:hidden;}
.oa{overflow: auto;}
.cm{cursor:move;}
.border0{border:0 !important;}
.opacity0{opacity:0;}
.opacity1{opacity:0.1;}
.opacity2{opacity:0.2;}
.opacity5{opacity:0.5;}
.opacity8{opacity:0.8;}
